# Whole directories
_build/
data/

# Individual files
_tags
configure
mail_thief.native
mail_thief_test.native
setup.data
setup.log
setup.ml
src/lib/mail_db/META
src/lib/mail_db/mail_db.mldylib
src/lib/mail_db/mail_db.mllib
